@using BugTracker.Models;
@model BugTracker.Models.ProjectDetailViewModel


@foreach (var user in Model.UsersNotInProject)
{
        <div class="user-search">
            @*<input type="checkbox" class="cb" id="@user.Id" />*@ 
            @Html.ActionLink("Add", "AddUserToProject", new {ProjectId = Model.Project.Id, UserId = user.Id }, new { @class="addToProject" })
            @if (user.isPM()) 
            {
                <span class="pm">PM</span> 
            }
            @if (user.isDev()) 
            {
                <span class="dev">Dev</span> 
            }
            @user.Displayname | @user.Email
        </div>

}


