#user-list, .user-list {
    margin: 3em auto;
    width: 90%;
}

#user-list td, .user-list td {
    padding: 0.5em;
}

#user-list {
    color: #000;
}

#user-list tr:nth-child(even), .user-list tr:nth-child(even) {
    background-color: #36c6d3;
   
}

#user-list tr:nth-child(even) a, .user-list tr:nth-child(even) a {
   color: #000;
   
}

.dev, .pm {
    box-shadow: 2px 2px 2px rgba(0,0,0,0.71);
    padding: 2px 4px;
    border-radius: 0.25em;
}

.dev {
    color: #fff;
    font-weight: 700;
    margin: 0 0.5em;
    background-color: green;
}

.pm {
    color: red;
    font-weight: 700;
    margin: 0 0.5em;
    background-color: yellow;
}

#userlist-container {
    margin-top: 1em;
}

.role {
    padding: 0 0.75em 0 0;
}

.remove-manager {
    font-size: 0.6em;
    padding: 0.1em 0.3em;
    border: 1px solid;
    border-radius: 0.3em;
    background-color: red;
    
}

.remove-manager a {
    color: #fff;
    font-weight: 700;
}

.ticket-nav a {
    margin-right: 2em;
}

.dropdown-margin-bump {
    
}

#ticket-attachments, #ticket-comments, .ticket-attachment, #ticket-users {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    padding-top: 1em;
}

#ticket-users {
    padding: 1em;
}

.attachment-img img {
   max-height: 200px;
   border-radius: 1em;
   padding: 0.5em;    
   border: 1px solid #ccc;
   background-color: #fff;
   box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
}

#ticket-attachments textarea, #ticket-comments textarea {
    width: 50%;
}
